{% extends 'base.html' %}

{% block main %}

    List
<br>
    {% for colaborador in object_list %}
        <a href="{% url 'update_colaborador' colaborador.id %}">
            {{ colaborador }}
        </a>
        <a href="{% url 'delete_colaborador' colaborador.id %}" class="btn btn-btn">
            Deletar
        </a>
        <br>
    {% endfor %}

<a href="{% url 'create_colaborador' %}" class="btn btn-info">Novo Colaborador</a>
<a href="{% url 'relatorio_colaboradores' %}" class="btn btn-dark">Relatório de Colaboradores</a>
<a href="{% url 'relatorio_colaboradores_html' %}" class="btn btn-dark">Relatório de Colaboradores HTML</a>

{% endblock %}