{% extends 'base.html' %}

{% block main %}
<div class="row">

    <div class="col-sm">
        <h4>Olá {{ usuario.colaborador.nome }}<br></h4>
        <p><a href="{% url 'list_colaboradores' %}">Gerenciar colaboradores</a></p>
        <p><a href="{% url 'list_departamentos' %}">Gerenciar departamentos</a></p>
        <p><a href="{% url 'list_hora_extra' %}">Gerenciar Banco de Horas</a></p>
    </div>
    <div class="col-sm">
        <a href="{% url 'logout' %}">Logout</a>

        {% if usuario.colaborador.empresa %}
            <a href="{% url 'edit_empresa' usuario.colaborador.empresa.id %}">Editar Empresa</a>
        {% else %}
        <a href="{% url 'create_empresa' %}">Criar empresa</a>
        {% endif %}
    </div>
</div>
{% endblock %}